<div class="container mt-4">
  <h3>Details of {{ sensorId }}</h3>

  @if (loading) {
    <div class="text-center mt-4">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  }

  @if (!loading && measurements.length === 0) {
    <div class="alert alert-warning mt-4">
      No measurements found for this sensor.
    </div>
  }

  @for (measurement of measurements; track $index) {
    <div class="card mb-3">
      <div class="card-header">
        {{ measurement.name }} ({{ measurement.unit }})
      </div>

      <div class="card-body p-0">
        <table class="table table-striped mb-0">
          <thead class="">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Value</th>
          </tr>
          </thead>
          <tbody>
            @for (entry of measurement.entries; track $index) {
              <tr>
                <td>{{ entry.date }}</td>
                <td>{{ entry.value | number:'1.4-4' }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }
</div>
